<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHb2kDjJYRzAPV2OQwZuDBs93RFqdmogY</string>
	<key>GCM_SENDER_ID</key>
	<string>642462960966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.podcastApp</string>
	<key>PROJECT_ID</key>
	<string>podcast-project-d0b16</string>
	<key>STORAGE_BUCKET</key>
	<string>podcast-project-d0b16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642462960966:ios:f952e22fa67dcca92ba947</string>
</dict>
</plist>